/*
Theme Name: Buddypress Sync
Theme URI: sync.asynchrony.com
Description: Theme for Asynchrony's Intranet
Version: 1.0
Author: Asynchrony
Author URI: www.asynchrony.com
Template: bp-default
Tags: sync, buddypress, two-column, grey, dark
*/

@import url("icons.css");

/* Layout Styles */
html {
	font-size:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}

body {
	width:auto;
	max-width:none;
	font-family:'Open Sans';
	font-size:14px;
	line-height:20px;
	margin:0;
}

a {color:#E1780F;}

a:focus{
	outline:thin dotted #333;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px;
}

a:active, a:hover{outline:0;}

#pageHeader {
	background: #35383B;
	border-color: #E1780F transparent #777E86 transparent;
	border-radius: 0;
	border-style: solid none;
	border-width: 2px 0 1px;
	box-shadow: 0 0 10px 0 #999999;
	margin-bottom: 10px;
}

#pageHeader:after {
	clear: both;
	content: "";
	display: block;
}

#pageHeader .inner {
	width: 960px;
	margin: 0 auto;
	padding: 14px 0 8px;
}
#pageHeader h1 a {
	display: block;
	height: 28px;
	width: 92px;
	overflow: hidden;
	text-indent: -9000px;
	background: url('images/logo-sync.png') no-repeat 50% 50%;
	margin-right: 30px;
}
#pageHeader .inner > div, #pageHeader .inner > h1 {
	display: inline-block;
	vertical-align: baseline;
	margin: 0;
}
#navigation {
	width: auto;
}
#navigation:after {
	display: none;
	content: none;
}
#nav {
	margin: 0;
}
#nav li a {
	color: #AAAAAA;
	border-radius: 5px 5px 5px 5px;
	margin-bottom: 2px;
	margin-top: 2px;
	padding-bottom: 8px;
	padding-top: 8px;
	background: transparent;
	text-transform: uppercase;
	line-height: 14px;
	margin-right: 2px;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 14px;
}

#nav li a:hover {background:#000;}

#nav li.selected a,
#nav > li.current-menu-item a,
#nav > li.current_page_item a,
#nav > li.current_page_ancestor a {
    background: #000;
    color: #E1780F;
}

#pageHeader #search-bar {float:right;}
#pageHeader #sidebar-me > a {display:inline-block;}
#pageHeader .rightHeader {float:right;}

#sidebar-me img.avatar {
	border: 1px solid #C2C7CB;
	border-radius: 4px 4px 4px 4px;
	display: block;
	height: 30px;
	overflow: hidden;
	width: 30px;
}

#pageHeader #sidebar-me > h4 {display:none;}
#pageHeader #sidebar-me .logout {display:none;}

#main {
	background: #FAFCF9;
	width: 960px;
	margin: 0 auto 10px;
	border: 1px solid #A6ADB4;
	border-radius: 4px;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	box-shadow: 0 0 10px 0 #999999;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

#main:after {
	content: "";
	display: block;
	clear: both;
}
#pageContent {
	padding: 26px;
	background: #FAFCF9;
}
#main > #sidebar + #pageContent:after {
	content: "";
	width: 300px;
	background: #E3E6E9;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
}
div#sidebar {
	float: right;
	width: 300px;
	margin: 0;
	padding: 20px;
	border-radius: 0 4px 4px 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #E3E6E9;
	height: 100%;
	position: relative;
	z-index: 5;
}
#main #sidebar + #pageContent {
	margin-right: 300px;
	border-radius: 4px 0 0 4px;
}

/* Fonts */
h1 {
	font-size:2em;
	margin:0.67em 0;
	color:#999;
}

h2{
	font-size:1.5em;
	margin:0.83em 0;
}

h2.pagetitle {
	font-family:'nexa';
	color:#E1780F;
	font-size:2em;
	margin:0 15px 0 0;
	text-transform:uppercase;
	font-weight:normal;
}

h3{font-size:1.17em;margin:1em 0;}
h4{font-size:1em;margin:1.33em 0;}
h5{font-size:0.83em;margin:1.67em 0;}
h6{font-size:0.75em;margin:2.33em 0;}

@font-face {
	font-family:'open sans';
	font-weight:normal;
	font-style:normal;
	src:url('fonts/OpenSans-Regular.eot?v=3.0.1');
	src:url('fonts/OpenSans-Regular.eot?#iefix&v=3.0.1') format('embedded-opentype'),
		url('fonts/OpenSans-Regular.woff?v=3.0.1') format('woff'),
		url('fonts/OpenSans-Regular.ttf?v=3.0.1') format('truetype');
}

@font-face {
	font-family:'open sans';
	font-weight:bold;
	font-style:normal;
	src:url('fonts/OpenSans-Bold.eot?v=3.0.1');
	src:url('fonts/OpenSans-Bold.eot?#iefix&v=3.0.1') format('embedded-opentype'),
		url('fonts/OpenSans-Bold.woff?v=3.0.1') format('woff'),
		url('fonts/OpenSans-Bold.ttf?v=3.0.1') format('truetype');
}

@font-face {
	font-family:'open sans';
	font-weight:normal;
	font-style:italic;
	src:url('fonts/OpenSans-Italic.eot?v=3.0.1');
	src:url('fonts/OpenSans-Italic.eot?#iefix&v=3.0.1') format('embedded-opentype'),
		url('fonts/OpenSans-Italic.woff?v=3.0.1') format('woff'),
		url('fonts/OpenSans-Italic.ttf?v=3.0.1') format('truetype');
}

@font-face {
	font-family:'open sans';
	font-weight:bold;
	font-style:italic;
	src:url('fonts/OpenSans-BoldItalic.eot?v=3.0.1');
	src:url('fonts/OpenSans-BoldItalic.eot?#iefix&v=3.0.1') format('embedded-opentype'),
		url('fonts/OpenSans-BoldItalic.woff?v=3.0.1') format('woff'),
		url('fonts/OpenSans-BoldItalic.ttf?v=3.0.1') format('truetype');
}

@font-face {
	font-family:'nexa';
	src:url('fonts/nexa_light-webfont.eot?v=3.0.1');
	src:url('fonts/nexa_light-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
		url('fonts/nexa_light-webfont.woff?v=3.0.1') format('woff'),
		url('fonts/nexa_light-webfont.ttf?v=3.0.1') format('truetype');
}
/* end Fonts */

/* Subnav Menus */
#Subnav_Menu .widgettitle {display:none;}

.widgets_on_page > ul, 
#Subnav_Menu ul {margin:0;}

#Subnav_Menu ul li, #Subnav_Menu ul li a {display:inline-block;}

#Subnav_Menu a {
	color:#AAA;
	border-radius:4px;
	background-clip:padding-box;
	line-height:30px;
	padding:8px 12px;
	margin-top:2px 2px 2px 0;
	text-decoration:none;
}

#Subnav_Menu a:hover, #Subnav_Menu a:focus, #Subnav_Menu a:active, 
#Subnav_Menu .current-menu-item a {background-color:#eeeeee;}

#Subnav_Menu .current-menu-item a {color:#333; font-weight:bold;}

#Subnav_Menu a[title^="Add"] {
	padding:2px 5px;
	margin:10px 0 0 10px;
	color:#EEE;
}

/* end Subnav Menus */

/* buttons */
.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, 
.btn-info.active, .btn-inverse.active {color:rgba(255, 255, 255, 0.75);}

.btn-primary {
	color:#ffffff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color:#006dcc;
	background-image:-moz-linear-gradient(top, #0088cc, #0044cc);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image:-webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image:-o-linear-gradient(top, #0088cc, #0044cc);
	background-image:linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	border-color:#0044cc #0044cc #002a80;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color:#0044cc;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
	
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, 
.btn-primary.disabled, .btn-primary[disabled] {
	color:#ffffff;
	ackground-color:#0044cc;
	*background-color:#003bb3;
}

.btn-primary:active, .btn-primary.active {background-color:#003399 \9;}

.btn-warning, 
#Subnav_Menu a[title^="Add"] {
	color:#ffffff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color:#ec8f32;
	background-image:-moz-linear-gradient(top, #f39e49, #e1780f);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f39e49), to(#e1780f));
	background-image:-webkit-linear-gradient(top, #f39e49, #e1780f);
	background-image:-o-linear-gradient(top, #f39e49, #e1780f);
	background-image:linear-gradient(to bottom, #f39e49, #e1780f);
	background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff39e49', endColorstr='#ffe1780f', GradientType=0);
	border-color:#e1780f #e1780f #99520a;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color:#e1780f;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, 
.btn-warning.disabled, .btn-warning[disabled], 
#Subnav_Menu a[title^="Add"]:hover, #Subnav_Menu a[title^="Add"]:focus, #Subnav_Menu a[title^="Add"]:active, 
#Subnav_Menu a[title^="Add"].disabled, #Subnav_Menu a[title^="Add"][disabled] {
	color:#ffffff;
	background-color:#e1780f;
	*background-color:#c96c0d;
}

.btn-warning:active, .btn-warning.active, #Subnav_Menu a[title^="Add"]:active {background-color:#b15f0c \9;}

.btn-danger{
	color:#ffffff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color:#da4f49;
	background-image:-moz-linear-gradient(top, #ee5f5b, #bd362f);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
	background-image:-webkit-linear-gradient(top, #ee5f5b, #bd362f);
	background-image:-o-linear-gradient(top, #ee5f5b, #bd362f);
	background-image:linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
	border-color:#bd362f #bd362f #802420;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color:#bd362f;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, 
.btn-danger[disabled] {
	color:#ffffff;
	background-color:#bd362f;
	*background-color:#a9302a;
}

.btn-danger:active, .btn-danger.active{background-color:#942a25 \9;}

.btn-success {
	color:#ffffff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color:#5bb75b;
	background-image:-moz-linear-gradient(top, #62c462, #51a351);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
	background-image:-webkit-linear-gradient(top, #62c462, #51a351);
	background-image:-o-linear-gradient(top, #62c462, #51a351);
	background-image:linear-gradient(to bottom, #62c462, #51a351);
	background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
	border-color:#51a351 #51a351 #387038;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color:#51a351;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, 
.btn-success[disabled] {
	color:#ffffff;
	background-color:#51a351;
	*background-color:#499249;
}

.btn-success:active, .btn-success.active {background-color:#408140 \9;}

.btn-info {
	color:#ffffff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color:#49afcd;
	background-image:-moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
	background-image:-webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image:-o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image:linear-gradient(to bottom, #5bc0de, #2f96b4);
	background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
	border-color:#2f96b4 #2f96b4 #1f6377;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color:#2f96b4;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
	
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, 
.btn-info[disabled] {
	color:#ffffff;
	background-color:#2f96b4;
	*background-color:#2a85a0;
}

.btn-info:active, .btn-info.active{background-color:#24748c \9;}
/* end buttons */